.nav-body {
    padding: 2em;
    font: 14px/1.5 Lato, sans-serif;
}

.site {
    background: #fff;
    max-width: 1500px;
    margin: 0 auto;
    border-radius: 0.3em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.1);
    padding: 2em;
}

.site > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    max-height: 5em;
    max-width: 5em;
    border-radius: 50%;
}

.main-nav ul {
    list-style: none;
}

.main-nav a {
    display: block;
    text-decoration: none;
    color: #333;
    background: #eee;
    padding: 1em 1.5em;
    border-radius: 0.3em;
}

@media (max-width: 799px) {
    .menu-button {
        display: block;
        background: #EEE;
        padding: 1em 1.5em;
        cursor: pointer;
        border: none;
        font-size: 1.2em;
        border-radius: 0.3em;
    }

    .main-nav {
        display: none;
        position: fixed;
        inset: 0;
        background: #fff;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 999;
    }

    .main-nav.open {
        display: flex;
    }

    .main-nav ul {
        text-align: center;
        padding: 0;
    }

    .main-nav li {
        margin-bottom: 1em;
    }

    .main-nav li:hover > ul {
        display: block;
        box-shadow: 0 0 1em 0.1em rgba(0, 0, 0, 0.1);
    }

    .main-nav a:hover, .menu-button:hover{
        transform: scale(1.2);
        transition: transform 0.3s ease;
        background: #f89cab;
        color: #fff;
    }
}

@media (min-width: 800px) {
    .menu-button {
        display: none;
    }

    .main-nav {
        display: flex !important;
    }

    .main-nav ul {
        display: flex;
        gap: 1em;
    }

    .main-nav li:hover > ul {
        display: block;
        box-shadow: 0 0 1em 0.1em rgba(0, 0, 0, 0.1);
    }
    .main-nav a:hover {
        transform: scale(1.2);
        transition: transform 0.3s ease;
        background: #f89cab;
        color: #fff;
    }
}
